<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.image_crop_example">
    <!-- The INTERNET permission is required for development. Specifically,
         the Flutter tool needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <activity
        android:name="com.yalantis.ucrop.UCropActivity"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
